# =====================
# Python
# =====================
backend/venv/
backend/.venv/
backend/__pycache__/
backend/**/*.pyc
backend/.env

# =====================
# Node
# =====================
frontend/node_modules/
frontend/dist/
frontend/.env

# =====================
# Terraform
# =====================
**/.terraform/
*.tfstate
*.tfstate.*
terraform.tfvars
*.tfvars

# Keep lock file
!**/.terraform.lock.hcl

# =====================
# macOS
# =====================
.DS_Store

# =====================
# IDE
# =====================
.vscode/
.idea/