# env files
.env
backend/.env
backend/.env.local
frontend/.env
frontend/.env.local

# virtual env
venv/
.venv/
backend/venv/

# python cache
__pycache__/
backend/app/__pycache__/
*.pyc

# node
node_modules/